@font-face {
	font-family: simvoni;
	src: url(./font/Simvoni.ttf);
	font-display: swap;
}

@font-face {
	font-family: simvoni;
	src: url(./font/Simvoni-Bold.ttf);
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: simvoni;
	src: url(./font/Simvoni-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: simvoni;
	src: url(./font/Simvoni-Italic.ttf);
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: simvoni-il;
	src: url(./font/ModifiedSimvoni.ttf);
	font-display: swap;
}

@font-face {
	font-family: simvoni-il;
	src: url(./font/ModifiedSimvoni-Bold.ttf);
	font-weight: bold;
	font-display: swap;
}

.settings-controls {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
}

.image_1 {
	margin-top: 0.5em;
	width: 20em;
	/* you can use % */
	height: auto;
}

body {
	margin: 0 auto;
	overflow: hidden;
	background-color: #000000;
}

html {
	background-color: #000000;
}

#app,
body,
:root {
	width: 100%;
	height: 100%;
}

img.emoji {
	height: 1em;
	width: 1em;
    vertical-align: bottom;
}

button,
input[type="text"],
input[type="search"],
input[type="password"],
textarea,
select {
	border-radius: 10px;
	outline: none;

	background-color: var(--orange);
	color: var(--foreground-orange);

	padding: 0.5em 1em;
	box-sizing: border-box;
	margin-bottom: -0.15rem;
	margin-top: 0;

	font-family: inherit;
	font-size: inherit;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-radius: 10px;
}

input[type="text"],
input[type="search"],
input[type="password"],
textarea {
	min-width: 5em;
	border-radius: 10px;
	border-color: var(--orange-dark);
}

input[type="text"],
input[type="search"],
input[type="password"] {
	margin-bottom: 7px;
}

button + button {
	margin-left: 0.07rem;
}

input:not(.white)::placeholder {
	color: var(--foreground-orange);
	opacity: 0.75;
}

input.white::placeholder,
textarea::placeholder {
	color: var(--foreground);
	opacity: 0.5;
}

main.input-hover button:not(.circle):not(.white):not(:disabled):hover,
button:not(.circle):not(.white):focus-visible,
main.input-hover input[type="text"]:not(.white):not(:disabled):hover,
input[type="text"]:not(.white):focus-visible,
main.input-hover input[type="search"]:not(.white):not(:disabled):hover,
input[type="search"]:not(.white):focus-visible,
main.input-hover input[type="password"]:not(.white):not(:disabled):hover,
input[type="password"]:not(.white):focus-visible {
	background-color: var(--orange-light);
}

#main button:not(.circle):not(.white):not(:disabled):active,
#main input[type="text"]:not(.white):not(:disabled):focus,
#main input[type="searcg"]:not(.white):not(:disabled):focus,
#main input[type="password"]:not(.white):not(:disabled):focus {
	background-color: var(--orange-dark);
}

button.round {
	border-radius: 0.75em;
	border-bottom-width: 5px;
	padding: 0.5em;
	overflow-wrap: break-word;
}

input[type="text"].white,
input[type="search"].white,
input[type="password"].white,
textarea,
select.white {
	background-color: var(--container-color);
	color: var(--foreground);
	font-weight: normal;
}

button.white {
	background-color: var(--background);
	color: var(--orange-button);
}

textarea {
	resize: vertical;
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 1ex;
}

ul,
ol {
	margin: 0;
}

details {
	margin-left: 0.5em;
}
details > summary {
	margin-left: -0.5em;
}

button.circle,
input[type="checkbox"] {
	border: none;
	border-radius: 10px;
	outline: none;

	background-color: var(--orange);
	color: var(--foreground-orange);

	width: 1.6em;
	height: 1.6em;
	padding: 0;

	font: inherit;

	background-position: center;
	background-size: 1.3em;
	background-repeat: no-repeat;
}

input[type="checkbox"] {
	background-image: url("./off.svg");
	appearance: none;
}

button.settings {
	background-image: url("./settings.svg");
}

button.plus {
	background-image: url("./plus.svg");
	background-size: 50%;
}

button.close {
	background-image: url("./close.svg");
	background-size: 50%;
}

button.trash {
	background-image: url("./trash.svg");
	background-size: 56%;
}

button.report {
	background-image: url("./report.svg");
	background-size: 50%;
}

button.join {
	background-image: url("./chat_join.svg");
	background-size: 50%;
}

button.profile {
	background-image: url("./profile.svg");
	background-size: 50%;
}

button.members {
	background-image: url("./members.svg");
	background-size: 50%;
}

button.search {
	background-image: url("./search.svg");
	background-size: 50%;
}

button.add {
	background-image: url("./add.svg");
	background-size: 50%;
}

button.reload {
	background-image: url("./loader.svg");
	background-size: 70%;
}

input[type="checkbox"]:checked {
	background-image: url("./on.svg");
}

a {
	color: #0066ff;
}

:disabled {
	opacity: 0.5;
}

.modal-input {
	position: relative;
	width: 100%;
}

.modal-buttons {
	display: flex;
	justify-content: space-between;
}

hr {
	height: 0px;
	border-radius: 2px;
	color: var(--orange);
	background-color: var(--orange);
	border: none;
}

.nojs {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	font-family: simvoni, sans-serif;
	color: white;
	font-weight: bold;
}

.createpost button, textarea {
	border: none;
}

button {
	border: none;
}