@font-face {
    font-family: simvoni;
    src: url(./font/Simvoni.ttf);
    font-display: swap;
}

@font-face {
    font-family: simvoni-bold;
    src: url(./font/Simvoni-Bold.ttf);
	font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: simvoni-bolditalic;
    src: url(./font/Simvoni-BoldItalic.ttf);
	font-style: normal;
	font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: simvoni-italic;
    src: url(./font/Simvoni-Italic.ttf);
	font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: none;
}

#app, body, :root {
	width: 100%;
	height: 100%;
}

.meower-btn,
.meower-input[type="text"],
.meower-input[type="password"],
textarea {
    border: solid 2px var(--foreground-orange);
    border-radius: 2px;
    outline: none;

    background-color: var(--orange);
    color: var(--foreground-orange);

    padding: 0.5em 1em;
    box-sizing: border-box;
    margin-bottom: -0.15rem;
}
button, input {
	font: inherit;
}
.meower-btn + .meower-btn {
	margin-left: -0.15rem;
}
.meower-input:not(.white)::placeholder {
	color: var(--foreground-orange);
	opacity: 0.75;
}
.meower-input.white::placeholder {
	color: var(--foreground);
	opacity: 0.75;
}

.meower-btn.full-width {
	width: 100%;
}

.meower-btn.normal:not(:disabled):hover,
.meower-btn.normal:focus-visible,
.meower-btn.round:not(:disabled):hover,
.meower-btn.round:focus-visible,
.meower-input[type="text"]:not(.white):not(:disabled):hover,
.meower-input[type="text"]:not(.white):focus-visible,
.meower-input[type="password"]:not(.white):not(:disabled):hover,
.meower-input[type="password"]:not(.white):focus-visible {
    background-color: var(--orange-light);
}

.meower-btn.normal:not(:disabled):active,
.meower-btn.round:not(:disabled):active,
.meower-input[type="text"]:not(.white):not(:disabled):focus,
.meower-input[type="password"]:not(.white):not(:disabled):focus {
    background-color: var(--orange-dark);
}

.meower-btn.round {
    border-radius: 0.75em;
    border-bottom-width: 5px;
    padding: 0.5em;
    overflow-wrap: break-word;
}

.meower-input[type="text"].white,
.meower-input[type="password"].white,
textarea {
    background-color: var(--background);
    border-color: var(--orange);
    color: var(--foreground);
    font-weight: normal;
}

.meower-btn.white {
    background-color: var(--background);
    border-color: var(--orange);
    color: var(--orange-button);
}

.meower-input[type="text"].white:not(:disabled):hover,
.meower-input[type="password"].white:not(:disabled):hover,
textarea:not(:disabled):hover,
.meower-btn:not(.circle).white:not(:disabled):hover,
.meower-input[type="text"].white:focus-visible,
.meower-input[type="password"].white:focus-visible,
textarea:focus-visible,
.meower-btn:not(.circle).white:focus-visible {
    border-color: var(--orange-light);
}

.meower-input[type="text"].white:not(:disabled):focus,
.meower-input[type="password"].white:not(:disabled):focus,
textarea:focus,
.meower-btn:not(.circle).white:active {
    border-color: var(--orange-dark);
}

textarea {
    resize: vertical;
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
	margin-bottom: 1ex;
}
h1, h2, h3, h4, h5, h6, b {
	font-family: Simvoni-Bold, sans-serif;
	font-weight: normal;
}
h1.nobold, h2.nobold, h3.nobold, h4.nobold, h5.nobold, h6.nobold {
	font-family: Simvoni, sans-serif;
	font-weight: bold;
}

.meower-btn.circle, .meower-input[type="checkbox"] {
    border: solid 2px var(--foreground-orange);
	border-radius: 100%;
    outline: none;

    background-color: var(--orange);
    color: var(--foreground-orange);

	width: 1.6em;
	height: 1.6em;
	padding: 0;
	
	font: inherit;

	background-position: center;
	background-size: 1.3em;
	background-repeat: no-repeat;
}
.meower-input[type="checkbox"] {
	appearance: none;

	background-image: url("./off.svg");
}
.meower-btn.settings {
	background-image: url("./settings.svg");
}
.meower-input[type="checkbox"]:hover:not(:active),
.meower-btn.circle:hover:not(:active) {
	transform: scale(1.2);
}
.meower-input[type="checkbox"]:checked {
	background-image: url("./on.svg");
}

a {
	color: #0066ff;
}

:disabled {
	opacity: 0.5;
}

.meower-input[type="color"] {
	background: none;
	border: none;
	padding: 0;
	appearance: none;

	width: 2em;
	height: 2em;
	border-radius: 2px;

	vertical-align: middle;

	font: inherit;

	cursor: pointer;
}

table {
	border-collapse: collapse;
}
table, td {
	border: solid 2px var(--orange);
	border-radius: 2px;
}
td {
	padding: 0.5em;
}